<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      {{ form.name }}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      {{ form.mail }}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      {{ form.field_phone }}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      {{ form.subject }}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="col-md-12">
<div class="form-group">
{{ form.message }}
<p class="help-block text-danger"></p>
</div>
</div>
  <div id="success"></div>
</div>
{{ form.actions.submit }}

